<!doctype html>
<html lang="en">
<% include templates/header.ejs %>

<body>

<% include templates/navbaradmin.ejs %>

<div class="container">

    <section class="forma">
        <form class="col-sm-offset-1 col-sm-8 form-horizontal " style="margin-top: 100px;margin-left: 20px;" method="POST" action="/newformation" onsubmit="return verifForm(this)">
            <fieldset>

                <!-- Form Name -->
                <legend style="margin-left: 40px;margin-bottom: 20px">Ajouter une nouvelle formation </legend>

                <!-- Text input-->

                <!--fin ref salarie-->

                <div class="form-group">
                    <label class="col-md-4 control-label" for="intitule">
                        Intitulé de la formations</label>
                    <div class="col-md-4">
                        <input id="intitule" name="intitule"
                       onblur="verifChamp()"
                   type="text" placeholder="intitulé formation"
                               class="form-control input-md"
                               required="">

                    </div>
                </div>

                <!--date-->
                <div class="form-group">
                    <label class="col-md-4
                    control-label" for="datedebut">
                        Date debut formation</label>
                    <div class="col-md-4">
                        <input id="datedebut" name="datedebut"
                       type="date"placeholder="debutformation "                       class="form-control input-md" required="">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4
                    control-label" for="datefin">
                        Date de fin formation</label>
                    <div class="col-md-4">
                        <input id="datefin" name=
                        "datefin" type="date"
             onblur="dateCtrl()"placeholder="fin formation "
                 class="form-control input-md" required="">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label"                            for="montant">Coût de formation
                        par salarié
                    </label>

                    <div class="col-md-4"><input id="
                    montant" name="montant" type="number"                            placeholder="coût formation"
                         class="form-control
                    input-md" required="">

                    </div>
                </div>



                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4
                    control-label" for=""></label>
                    <div class="col-md-1">
                        <button type="submit"
                    class="btn btn-primary">Enregistrer</button>
                    </div>

                    <label class="col-md-1
                    control-label" for=""></label>
                    <div class="col-md-1">
                        <button type="reset"
                         class="btn btn-primary">Annuler</button>
                    </div>
                </div>


            </fieldset>
            <hr>
            <% include templates/retour.ejs%>
        </form>

    </section>
    <div class=" col-sm-offset-1 col-md-8 col-lg-8 col-sm-8 col-sm-8 col-xs-8 tableau formations" style="margin-top: 40px">
        <!--<hr>-->
        <p><strong>Listes des formations </strong></p>
        <table class="table" style="margin-top: 40px;text-align: center">
            <thead>
            <tr>
                <th> intitulé  </th>
                <th> date debut  </th>
                <th> date fin </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% if (formations.length >0 )  { %>
            <% formations.forEach(function (item)  { %>
            <tr>
                <td><%=item.intitule%></td>
                <td><%= item.datedebut%></td>
                <td><%=item.datefin %></td>
            </tr>
            <% }) %>
            <% }else { %>

            <td> la liste est vide</td>

            <% } %>
            </tbody>
        </table>
    </div>
    </div>
<% include templates/footer.ejs %>
</body>
</html>