@media screen and (min-width: 800px) {
    /*comportement pour les écrans larges*/
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;

    }
    .remuneration{width: 500px}
    .fixe{width: 400px}
    .brut{background:deepskyblue;border: solid whitesmoke}
    .sav{background: aliceblue;border: solid whitesmoke}
    .sv{background:lavender;border: solid whitesmoke}
    .navbar-inverse {
        background: #2c333b;

    }
    .navbar-inverse .navbar-brand{
        color: white;
    }
    /*change la couleur des li*/
    .navbar-inverse .navbar-nav>li>a{
        color: white;
    }

    .menu{
       /* width: 20%;*/
        padding: 20px;
        height: 1150px;
        background: darkseagreen;
        margin-top: 20px;
    }
    .navbar-brand{
        padding-left: 350px;
    }
    /*pour le formmulaire de l'accueil*/
    .connection{
        margin-top: 70px;
        /*padding-bottom:50px;*/

    }
    .bconnect{
        background-image: url('../bureau.jpg');
        background-repeat: no-repeat;
        background-size: 100%
    }
    .footer {
        /*position: absolute;*/
        bottom: 0px;
        width: 100%;
        height: 50px;
        background:#2c333b;

    }
    .infos ,.entete,.avantages,.salaire,.formation{
        width: 500px;
    }

    .footer p {
        color: beige;
        margin-top: 15px;
        font-size: 20px;
    }
    .salaires .form-horizontal, .variable .form-horizontal,
    .forma .form-horizontal, .employe .form-horizontal{
        border: 2px solid transparent;
        background: ghostwhite;/*box-shadow: 10px 10px 5px #888888*/}


    .form-group .control-label{
        text-align: left;
    }
    .glyphicon-asterisk{
        color: darkslategray;
    }
  legend{
      margin:50px 0 0 100px;
      border:none  }

  .connection legend{
      color: whitesmoke;
      font-size: 20px;
      margin-top: 25px;
      margin-left: 150px;
      /*padding-top: 15px;*/

  }
  .connection fieldset{
      margin: 15px 20px 0 20px;
      padding-bottom: 15px;
      font-size: 16px
  }
  .connection .form-horizontal{
      margin-bottom: 100px;
     width: 440px;
      color: white;height: 250px
  }
  .btn-primary{
      background: ghostwhite;
      width: 100px;
      color: black;
      font-size: medium;
      border:none;
  }
  .liste .btn-primary,.liste .btn-danger{
      width: 100px;
  }

  /*bouton de la page de connection*/
  .connection .btn-primary{
      margin-left:125px;
      margin-top: 20px;
      width: 160px;
  }
  section .form-horizontal fieldset{
      margin-left: 15px;
  }
  #login, #motdepass{
      width: 200px;
  }
  #date, #type{
      width: 213px;
  }
  .ident{

      font-family: Century Schoolbook L;
      margin-left: 10px;
  }
  .flash{
      color: red;
      margin-top: 70px;
      height: 40px;
      text-align: center;
      font-size: 20px
  }
  .container.pconnection{
     /* background-image: url('../bureau.jpg');background-repeat: no-repeat;background-size: 100%*/
  }
  .connection .form-horizontal{
      margin-top: 100px;  align-content: center; margin-bottom: 10px;
      background: #00004d;
  }
  .entete{
        background-image: url('sud5.JPG');
      /*dimensionne l'image sans le repeter*/
        background-repeat: no-repeat;
        background-size: 100%;
         height: 100px;font-size: 30px;color:white;
        text-align: center ;border-radius: 5px 5px 5px 5px
  }
  #logo{
      color: blue;
  }
  .entete .annee,deux{
      padding-top: 20px;
      font-style: italic;
      font-family: KacstDecorative
  }
  }
/*pour les petits ecrans*/
@media screen and (max-width: 800px) {
    sidebar-nav .navbar .navbar-collapse {
        padding: 0;
       /* max-height:100px;*/
    }
    .bconnect{
        background-image:none;
    }

    .menu {
        display: none;

       /* padding: 20px;*/
      /*  height: 200px;*/
        background: darkseagreen;
        margin-top: 20px;
    }
    .connection{
       margin-top: 150px ;
        padding-bottom:50px ;
        height: 800px;

    }
    .connection .form-horizontal{
        /*margin-left: 60px;*/
        /*margin-top:50px */;
       /* margin-right: 30px;*/
        background: #00004d;

        color: white;height: 300px;
        width: 300px;
    }
    .connection .form-group{
        width: 300px;
        margin-left: 5px;
    }
    .connection legend{
        color: whitesmoke;
        font-size: 20px;
       /* margin-top: px;*/
        padding-top: 15px;

    }
    .infos{
        margin-left: 40px;
    }
    .navbar-brand{
        margin-left: 80px;
    }
    .nav navbar-nav {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        height: 100px;
        display: inline;
    }
    .liste .table{
        height: 600px;
        width: 100px;
    }
    .liste .table th,.liste .table td{
        width: 20px;
        height: 40px;

    }
    .entete{
        color: white;
    }
    #logo{
        color: blue;
    }
    footer {
       /* position: absolute;*/
        bottom: 0px;
        width: 100%;
        height: 50px;
        background:#2c333b;


    }
    .news{
        margin-top: 200px;
        margin-bottom: 350px;
    }
    .navbar-header{
        /*display: block;*/
    }
}