
<div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="col-offset-3">
                    <a class="navbar-brand" href="/">
                        <span id="logo" class="glyphicon glyphicon-tint"></span>
                        Bienvenue sur l'apllication BSI
                    </a>
                </div>
            </div>
            <ul class="nav navbar-nav pull-right">

                <li><a href="/deconnexion">Se Deconnecter</a></li>
            </ul>
        </div>
    </nav>
</div>
<!--menu-->
<div class="row">
    <div class="col-sm-4 menu">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"></a></li>


                        <li><a href="/bilan" >visualiser son bilan</a></li>
                        <li><a href="/deconnexion"> se deconnecter</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres actions</a>
                        <ul class="dropdown-menu">
                            <!--<a href="">connection</a></li>-->
                        <li><a href="/enregistrement">Fiche salarie</a></li>
                        <li><a href="/formations">ajout formation</a></li>
                        <li><a href="/remunerations">ajout des informations salariales</a></li>
                        <li><a href="/ficheavantages"> ajout des avantages</a></li>
                        <li><a href="/listeEmployes"> Modifier les infos </a></li>
                        <!--<li><a href="#"> creation d'un bilan</a></li>-->

                        </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
