<div class="col-sm-2" style="margin-left: 20vh">
    <button class="btn btn-primary" onclick="goBack()">Retour</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>